{% extends "base.html" %}
{% block content %}
	<a href="/login"><img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" /></a>
	<h2>FAQ</h2>
	<dl>
		<dt>What's this?</dt>
		<dd>A service that automatically charges $0.50 to your card once a quarter. Nothing more, nothing less.</dd>
		<dt>Why?</dt>
		<dd>It makes sense to keep unused credit cards with no annual fee open, however without any activity, they risk closure. Charging a small amount every month keeps activity on the card, thus preventing it from being closed.</dd>
		<dt>Can I get the charged amount back?</dt>
		<dd>Not at the moment. Since many issuers <a href="http://www.doctorofcredit.com/small-balance-waiver-a-k-a-lots-of-free-99-cent-amazon-gcs/">refund small balances</a> though, you might not be billed for it. An auto-refund feature is planned for the future.</dd>
		<dt>Can I change the amount or the have it charged yearly?</dt>
		<dd>Not at the moment, but I'll add an option to change these settings if I get enough requests for them.</dd>
		<dt>Is my credit card information secure?</dt>
		<dd>All information is processed through <a href="http://stripe.com">Stripe</a> and is not stored on our servers.</dd>
		<dt>How do I contact you?</dt>
		<dd>Email us at <a href="mailto:help@cardkeepalive.com">help@cardkeepalive.com</a>.</dd>
	</dl>
{% endblock %}
